/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #003366, #0055aa);
    color: white;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002244;
    padding: 15px 40px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    text-align: center;
    margin-top: 120px;
    padding: 20px;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    max-width: 750px;
    margin: auto;
    line-height: 1.6;
}

.hero-buttons {
    margin-top: 35px;
}

.hero-buttons button {
    margin: 10px;
    padding: 12px 28px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: #003366;
    font-weight: bold;
}

.hero-buttons button:hover {
    background-color: #e6e6e6;
}