{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}

<div class="container">

    <h2>Admin Dashboard</h2>

    <h3>📊 Scheme Statistics</h3>

    <div class="stats-grid">

    <a href="/admin-dashboard?filter=all" class="stat-card blue">
    <h4>📚 Total Schemes</h4>
    <p>{{ total_schemes }}</p>
    </a>

    <a href="/admin-dashboard?filter=UG" class="stat-card blue">
    <h4>🎓 UG Schemes</h4>
    <p>{{ ug_count }}</p>
    </a>

    <a href="/admin-dashboard?filter=PG" class="stat-card blue">
    <h4>🎓 PG Schemes</h4>
    <p>{{ pg_count }}</p>
    </a>

    <a href="/admin-dashboard?filter=PWD" class="stat-card purple">
    <h4>♿ PWD Schemes</h4>
    <p>{{ pwd_count }}</p>
    </a>

    <a href="/admin-dashboard?filter=Sports" class="stat-card green">
    <h4>🏅 Sports Schemes</h4>
    <p>{{ sports_count }}</p>
    </a>

    <a href="/admin-dashboard?filter=Caste" class="stat-card orange">
    <h4>🏛 Caste Schemes</h4>
    <p>{{ caste_count }}</p>
    </a>

    <a href="/admin-dashboard?filter=Minority" class="stat-card teal">
    <h4>🌍 Minority Schemes</h4>
    <p>{{ minority_count }}</p>
    </a>

    <a href="/admin-dashboard?filter=Women" class="stat-card pink">
    <h4>👩 Women / Girls</h4>
    <p>{{ women_count }}</p>
    </a>

    <a href="/admin-dashboard?filter=Laptop" class="stat-card indigo">
    <h4>💻 Laptop Schemes</h4>
    <p>{{ laptop_count }}</p>
    </a>

    <a href="/admin-dashboard?filter=Research" class="stat-card dark">
    <h4>🔬 Research Schemes</h4>
    <p>{{ research_count }}</p>
    </a>

    </div>

    <form method="GET" action="/admin-dashboard">
        <input type="text" name="search" placeholder="Search Scheme Name">
        <button type="submit">Search</button>
    </form>

    <br>

    <a href="/add-scheme">
        <button>Add New Scheme</button>
    </a>

    <h3 style="margin-top:20px;">Existing Schemes</h3>

    {% for scheme in schemes %}
        <div class="scheme-card">
            <strong>{{ scheme.scheme_name }}</strong>
            <br>
            Income Limit: {{ scheme.max_income }}
            <br><br>
            <a href="/edit-scheme/{{ scheme.id }}">
                <button>Edit</button>
            </a>
            <a href="/delete-scheme/{{ scheme.id }}">
                <button>Delete</button>
            </a>
        </div>
    {% endfor %}

    <br>
    <a href="/logout">
        <button>Logout</button>
    </a>

</div>

{% endblock %}