<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}EDUSCHEME{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="logo">EDUSCHEME</div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/check-form">Check Eligibility</a>
    </div>
</nav>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div style="text-align:center; margin-top:15px;">
      {% for message in messages %}
        <p style="color:red; font-weight:bold;">{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

{% block content %}
{% endblock %}

</body>
</html>