<!DOCTYPE html>
<html>
<head>
    <title>Student Scheme Awareness Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="logo">Scheme Portal</div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/check-form">Check Eligibility</a>
        <a href="/admin">Admin</a>
    </div>
</nav>

<div class="hero">

    <h1>State-Level Student Scheme Awareness Portal</h1>

    <p>
        Discover government schemes tailored to your eligibility.  
        Our portal simplifies the process by filtering schemes  
        based on income, education, category, and age.
    </p>

    <div class="hero-buttons">
        <a href="/check-form">
            <button>Check Eligibility</button>
        </a>

        <a href="/admin">
            <button class="secondary-btn">Admin Login</button>
        </a>
    </div>

</div>

</body>
</html>