<!DOCTYPE html>
<html>
<head>
    <title>Student Scheme Awareness Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>State-Level Student Scheme Awareness Portal</h1>

    <p>
        This portal helps students identify eligible government schemes 
        based on their personal details such as income, education level, 
        category, and age.
    </p>

    <div style="margin-top: 30px;">
        <a href="/check-form">
            <button>Check Eligibility</button>
        </a>
    </div>

    <div style="margin-top: 15px;">
        <a href="/admin">
            <button>Admin Login</button>
        </a>
    </div>

</div>

</body>
</html>